<%- include('../partials/header') %>

<h1>Edit your thing!</h1>
<form action="../../things/<%=thing._id%>?_method=PUT" method="POST">
    Thing:
    <input type="text" placeholder="Thing" name="name" value="<%=thing.name%>"><br>
    Today's Date:
    <input type="date" name="created" value="<%=thing.created%>"><br>
    How much you like this thing:
    <select name="likeness">
        <option value="1">I hate this thing and whoever made it</option>
        <option value="2">I don't really like this thing</option>
        <option value="3" selected>I feel pretty indifferent about this thing</option>
        <option value="4">I kinda like this thing not gonna lie</option>
        <option value="5">DUDE HOLY CANOLI THIS THING IS SO FUCKING COOL</option>
    </select><br>
    <button type="submit">Update Thing</button>
</form>

<%- include('../partials/footer') %>

