<%- include('../partials/header') %>

<h2>Thing: </h2> <%= thing.name %>  <br>
<h3>When You Added This Thing:</h3><%= thing.created %> <br>
<h3>How you feel about this thing:</h3> <%= thing.likeness %>/5 <br>


<%- include('../partials/footer') %>